@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Yuji+Boku&display=swap');
body{background-image: url(./images/E698A5E697A5E5A4A7E7A4BEE381ABE381A4E38184E381A6.jpg);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;}

h1{color: red;
    background-color: aquamarine;
padding: 20px;
border: 20px;
border-style:solid ;
border-color:red ;
margin: auto;
text-align: center;
font-family: 'Playfair', serif;
font-family: 'Yuji Boku', serif;
}
h2{font-family: 'Playfair', serif;
    font-family: 'Yuji Boku', serif;
    font-family: 'Yuji Syuku', serif;
}